[submodule "external/pytorch_softdtw_cuda"]
	path = external/pytorch_softdtw_cuda
	url = https://github.com/Maghoumi/pytorch-softdtw-cuda.git
[submodule "external/JitGRU"]
	path = external/JitGRU
	url = https://github.com/Maghoumi/JitGRU.git
